@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  @apply !font-vazir;
}

@layer base {
  @font-face {
    font-family: 'Vazir';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/public/fonts/Vazirmatn-Medium.woff2') format('woff2');
  }
}

@layer components {
  .dark .ant-menu-dark {
    @apply bg-dark-secondary;
  }
  
  .dark .ant-menu-dark .ant-menu-item-selected {
    @apply bg-dark-accent/20 text-dark-accent;
  }

  .dark .ant-switch-checked {
    @apply bg-dark-accent;
  }

  .dark .ant-layout-header {
    @apply bg-dark-primary border-b border-dark-secondary;
  }

  .ant-menu-item {
    @apply transition-colors duration-200;
  }
  
  .ant-switch {
    @apply transition-all duration-200;
  }

  .dark .ant-menu-submenu-title {
    @apply text-white;
  }

  .dark .ant-menu-submenu .ant-menu-submenu-inline .ant-menu-submenu-open {
    @apply text-white;
  }
}

@layer utilities {
 
  ::-webkit-scrollbar {
    width: 3px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-blue-700 dark:bg-dark-secondary; 
    border-radius: 4px; 
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-blue-700 dark:bg-dark-accent; 
    border-radius: 4px; 
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-blue-700 dark:bg-dark-accent/80;
  }

  /* Firefox */
  html {
    scrollbar-width: thin; 
    scrollbar-color: #0171a5 #f1f1f1; 
  }

  .dark html {
    scrollbar-color: #666 #333;
  }
}

.custom-tree .ant-tree-treenode {
  padding: 8px; 
}

.custom-tree .ant-tree-node-content-wrapper {
  font-size: 16px;
}

.custom-tree .ant-tree-switcher {
  width: 24px;
  height: 24px;
}

.custom-tabs .ant-tabs-nav {
  margin: 0 !important;
}

.custom-tabs .ant-tabs-nav {
  display: flex;
  width: 100%;
}

.custom-tabs .ant-tabs-nav-list {
  display: flex;
  justify-content: space-evenly; 
  width: 100%;
}

.custom-tabs .ant-tabs-ink-bar {
  bottom: 0;
}

.uniform-form-item .ant-form-item-label {
  width: 120px; 
  text-align: right;
}

.uniform-form-item .ant-form-item-control {
  width: calc(100% - 120px); 
}

.uniform-form-item {
  /* margin-bottom: px;  */
  height: 10px; 
}